* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  /* font-family: Optima, "Segoe UI", Candara, "Noto Sans", source-sans-pro, sans-serif; */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

#root {
  min-height: 100vh;
}