@use '../../styles/colors' as c;

.dashboard {
  &__header {
    color: c.$hunter-green;
    text-align: center;
    font-size: 1.5rem;
    margin: 15px;
  }

  &__recycling {
    &--form {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: c.$hunter-green;
      margin-bottom: 40px;

      div {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 10px;
      }

      input,
      select {
        border-radius: 5px;
        border: 1px solid c.$hunter-green;
        padding: 5px;
      }
    }

    &--submit-btn {
      border-radius: 5px;
      background-color: c.$hunter-green;
      color: c.$bright-snow;
      padding: 5px 15px;

      outline: 2px solid transparent;
      outline-offset: 0;
      transition: outline-offset 0.1s ease, outline-color 0.1s ease;

      &:hover {
        background-color: c.$tea-green;
        outline-color: c.$tea-green;
        color: c.$hunter-green;
        outline-offset: 3px;
      }
    }

    &--header {
      font-weight: 500;
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  &__chat {
    // border: 1px solid c.$hunter-green;
    height: 55vh;

    &--title {
      text-align: center;
      color: c.$hunter-green;
      font-size: 1.5rem;
      padding: 15px;
    }
  }

  &__history {
    background-color: c.$tea-green;
    
    h3 {
      text-align: center;
      font-size: 1.5rem;
      padding: 15px;
    }
    
    &--grid {
      display: flex;
      flex-direction: column;
    }
  }
}

.bold {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  // .dashboard {
  //   // display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: .2fr repeat(2, 1fr) .2fr;

  //   &__header {
  //     grid-area: 1 / 1 / 2 / 3;
  //     align-self: center;
  //   }

  //   &__chat {
  //     grid-area: 3 / 2 / 5 / 3;
  //   }
    
  //   &__history {
  //     grid-area: 3 / 1 / 5 / 2;
  //     height: 50vh;
  //     min-width: 0;
  //     display: flex;
  //     flex-direction: column;

  //     &--grid {
  //       flex: 1;
  //       overflow-y: auto;
  //       min-width: 0;
  //     }
  //   }
  // }
}