@use '../../styles/colors' as c;

.resources {
  display: flex;
  flex-direction: column;
  background-color: c.$linen;
  gap: 20px;

  &__left-panel {
    // width: 35%;
    text-align: center;
    max-height: 80vh;
    // overflow-y: scroll;
  }
  h2 {
    text-align: center;
    color: c.$hunter-green;
    font-size: 2rem;
    font-weight: 500;
    padding: 20px;
  }

  &__form-box {
    display: flex;
    justify-content: center;
    // max-width: 370px;

    input,
    button {
      border: 1px solid c.$sea-green;
      border-radius: 5px;
      padding: 3px;
      margin: 5px;
    }

    button {
      background-color: c.$tea-green;
    }
  }

  &__map {
    align-self: center;
    width: 100%;
    height: 600px;
    border: 15px solid c.$bright-snow;
  }

  &__articles {
    text-align: center;

    h3 {
      color: c.$hunter-green;
      font-size: 2rem;
      font-weight: 500;
    }

    &--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
    }

    &--box {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: c.$bright-snow;
      height: 350px;
      width: 300px;
      margin: 20px;
      transition: transform 0.3s ease-in-out; 

      img {
        border-radius: 10px 10px 0 0;
        height: 200px;
        width: 100%;
        object-fit: fill;
      }

      a {
        font-size: 1.5rem;
        cursor: pointer;
      }

      &:hover {
        transform: scale(1.025); 
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .resources {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 650px 1fr;
    grid-column-gap: 10px;

    &__left-panel {
      grid-area: 1 / 1 / 2 / 2;
      max-height: 65vh;
    }

    &__form-box {
      flex-direction: column;
      align-items: center;
      justify-self: center;
      width: 70%;

      input,
      button {
        margin: 3px;
      }
    }

    &__map {
      grid-area: 1 / 2 / 2 / 3;
      align-self: flex-start;
      margin: 20px 0;
    }

    &__articles {
      grid-area: 2 / 1 / 3 / 3;

      &--container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      &--box {
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .resources {
    &__left-panel {
      overflow-y: hidden;
    }
  }
}