@use '../../styles/colors' as c;

.chat {
  border-radius: 10px;
  border: 2px solid c.$hunter-green;
  background-color: c.$soft-linen;
  padding: 5px;

  &__messages {
    height: 325px;
    overflow: auto;

    .user,
    .assistant {
      border-radius: 50px;
      background-color: c.$tea-green;
      padding: 10px 25px;
      margin: 10px;
    }
    
    .assistant {
      background-color: c.$ai-bubble;
    }
  }

  &__form {
    display: flex;
    justify-content: center;

    input {
      grid-area: 2 / 2 / 3 / 3;
      border: 1px solid c.$sea-green;
      border-radius: 15px;
      font-size: 1rem;
      padding: 0 10px;
      margin: 0 0 0 5px;
      width: 100%;
    }

    button {
      grid-area: 2 / 3 / 3 / 4;
      color: c.$sea-green;
      font-size: 2rem;
      margin: 0 10px;
    }

    .arrow {
      height: 1em;
      width: 1em;
      margin-top: 3px;
    }
  }
}

.chat__messages::-webkit-scrollbar {
  width: 10px;              /* vertical scrollbar */
  height: 10px;             /* horizontal scrollbar */
}

.chat__messages::-webkit-scrollbar-track {
  background: c.$soft-linen;
  border-radius: 10px;
}

.chat__messages::-webkit-scrollbar-thumb {
  background: c.$sea-green;      /* your hunter green vibe */
  border-radius: 10px;
}

.chat__messages::-webkit-scrollbar-thumb:hover {
  background: #24473d;
}