@use '../../styles/colors' as c;

.about {
  background-color: c.$soft-linen;

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__header {
    text-align: center;
    padding: 100px 0;
    background-image: url('../../assets/recycling.JPG');
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      background-color: rgba(248, 248, 248, 0.5);
      font-size: 3rem;
      width: 50%;
    }
  }

  &__intro {
    background-color: rgba(248, 248, 248, 0.5);
    width: 50%;
  }

  &__content {
    padding: 40px 0;
    p {
      padding: 20px;
    }
  }

  &__values {
    background-color: c.$tea-green;
    color: c.$hunter-green;
    padding: 40px 0;
    
    h3 {
      text-align: center;
      font-size: 2rem;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      list-style-type: none;

      li {
        text-align: center;
        padding: 10px;
      }
    }
  }

}

strong {
  color: c.$hunter-green;
}

@media screen and (min-width: 1024px) {
  .about__values {
    padding: 50px;
  }
}